.intro-heading2{
    font-size: 60px;
    font-weight: 700;
    color: #fed136;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

.section-heading2{
    text-shadow: 5px 5px #000000;
    font-size: 60px;
    font-weight: 700;
    color: white;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    
}

.bg_video{
 position: fixed; 
 right: 0; 
 bottom: 0;
 min-width: 100%; 
 min-height: 100%;
 width: auto; 
 height: auto; 
 z-index: -1000;
 background: url(img/header-bg.mp4) no-repeat;
 background-size: cover; 
}
